In [13]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pyautogui
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
import pandas as pd

In [3]:
driver = webdriver.Chrome(executable_path=r'C:\Users\Desktop\Desktop\ProJect1\chromedriver.exe')

In [7]:
driver.get('https://eclaim3.emcsthai.com/esurvey/frmLogin.aspx')
driver.maximize_window()
dcwh = driver.current_window_handle
driver.find_element_by_id('txtUserName').send_keys('noppadol@se.co.th')
driver.find_element_by_id('txtPassWord').send_keys('Somboonkul1501*')
driver.find_element_by_id('imbLogin').click()
driver.find_element_by_id('btnEnter').click()

In [8]:
allhandle_windows = driver.window_handles
for handle in allhandle_windows:
    if handle != dcwh:
        driver.switch_to_window(dcwh)

C:\Users\Desktop\AppData\Local\Temp/ipykernel_4080/3003755061.py:4: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(dcwh)

In [9]:
time.sleep(2)
driver.find_element_by_id('dgvInbox_ctl03_sname').click()

In [11]:
data = driver.find_elements_by_xpath('//*[@id="dgvList"]/tbody/tr')

In [38]:
dmy = '04/พ.ย./2564'

In [34]:
all_data = []
for count , value in enumerate(data):
    all_data.append(value.text)
    data_frame = pd.DataFrame(all_data)
    data_frame.columns = ['Table']

    df_splite = data_frame.Table.str.extract('(\d\d\D{6}\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
    df_splite.columns = ['DMY','blank1', 'Time', 'blank2', 'Claim']
    df_s = df_splite.drop(columns=['blank1', 'blank2'])
    df = df_s[1:15]

    dmy = df_s['DMY'].values
    t = df_s['Time'].values
    c = df_s['Claim'].values

    dmy_list = list(df_s['DMY'].values)
    t_list = list(df_s['Time'].values)
    c_list = list(df_s['Claim'].values)

In [35]:
df

             DMY   Time         Claim
1   04/พ.ย./2564  18:23  S68421101006
2   04/พ.ย./2564  18:19  S68421101003
3   04/พ.ย./2564  18:17  S68421100850
4   04/พ.ย./2564  18:12  S68421100953
5   04/พ.ย./2564  18:01  S68421102006
6   04/พ.ย./2564  17:57  S68421103002
7   04/พ.ย./2564  17:49  S68421110276
8   04/พ.ย./2564  17:25  S68421100822
9   04/พ.ย./2564  17:05  S68421110268
10  04/พ.ย./2564  17:03  S68421102659
11  04/พ.ย./2564  17:00  S68421110251
12  04/พ.ย./2564  16:51  S68421110157
13  04/พ.ย./2564  16:50  S68421102468
14  04/พ.ย./2564  16:48  S68421092006

In [39]:
df[df.DMY.str.match(dmy)]

             DMY   Time         Claim
1   04/พ.ย./2564  18:23  S68421101006
2   04/พ.ย./2564  18:19  S68421101003
3   04/พ.ย./2564  18:17  S68421100850
4   04/พ.ย./2564  18:12  S68421100953
5   04/พ.ย./2564  18:01  S68421102006
6   04/พ.ย./2564  17:57  S68421103002
7   04/พ.ย./2564  17:49  S68421110276
8   04/พ.ย./2564  17:25  S68421100822
9   04/พ.ย./2564  17:05  S68421110268
10  04/พ.ย./2564  17:03  S68421102659
11  04/พ.ย./2564  17:00  S68421110251
12  04/พ.ย./2564  16:51  S68421110157
13  04/พ.ย./2564  16:50  S68421102468
14  04/พ.ย./2564  16:48  S68421092006