In [6]:
xx = 'over the rainbow'

if 'ov' in xx :
    print('Yes')
else:print('No')

Yes

In [10]:
def x(y):
    return y * 5 

f = x(5)

def z(i):
    print(i)

print(f)

z(2)

25
2

In [7]:
def loop():
    flower = 'lily','jasmin','rose','ivy'
    for i in range(len(flower)):
        print(i+1,flower[i].capitalize(),sep='.')

loop()

1.Lily
2.Jasmin
3.Rose
4.Ivy

In [11]:
def xx():
    for i in range(21):
        f =(i *9 /5) + 32
        print('{} = {}'.format(i,f))
    
xx()

0 = 32.0
1 = 33.8
2 = 35.6
3 = 37.4
4 = 39.2
5 = 41.0
6 = 42.8
7 = 44.6
8 = 46.4
9 = 48.2
10 = 50.0
11 = 51.8
12 = 53.6
13 = 55.4
14 = 57.2
15 = 59.0
16 = 60.8
17 = 62.6
18 = 64.4
19 = 66.2
20 = 68.0

In [11]:
def multi(from_n , to_n):
    for i in range(from_n,to_n +1):
        for j in range(1,13):
            print('{} x {} = {}' .format(i,j,i*j))
        print('*' * 40)

In [12]:
multi(2,3)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
****************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
****************************************

In [16]:
f = '1','2','3'

for count , value in enumerate(f):
    #print(count,value)
    print('{}. {}'.format(count,value))

0. 1
1. 2
2. 3

In [24]:
def loop_list2():
    ct = [
        ('th','Thailand','ไทย'),
        ('jp','Japan','ญี่ปุ่น'),
        ('kr','Korea','เกาหลี')
]

    for country in ct:
        print(country[2])

loop_list2()

ไทย
ญี่ปุ่น
เกาหลี

In [34]:
def loop3():
    flower = ['apple','orange']
    for x in range(len(flower)):
        flower[x] = flower[x].capitalize()

    flower.clear()

    print(flower)

loop3()

[]