In [6]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pyautogui
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
import pandas as pd

In [7]:
driver = webdriver.Chrome(executable_path=r'C:\Users\Desktop\Desktop\ProJect1\chromedriver.exe')

In [8]:
driver.get('https://eclaim3.emcsthai.com/esurvey/frmLogin.aspx')
driver.maximize_window()
dcwh = driver.current_window_handle
driver.find_element_by_id('txtUserName').send_keys('noppadol@se.co.th')
driver.find_element_by_id('txtPassWord').send_keys('Sesurvey1501*')
driver.find_element_by_id('imbLogin').click()
driver.find_element_by_id('btnEnter').click()

In [9]:
allhandle_windows = driver.window_handles
for handle in allhandle_windows:
    if handle != dcwh:
        driver.switch_to_window(dcwh)

C:\Users\Desktop\AppData\Local\Temp/ipykernel_13868/3003755061.py:4: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(dcwh)

In [10]:
time.sleep(2)
driver.find_element_by_id('dgvInbox_ctl03_sname').click()

In [11]:
data = driver.find_elements_by_xpath('//*[@id="dgvList"]/tbody/tr')

In [12]:
all_data = []
for count , value in enumerate(data):
    if count > 0 and count < 16:
        all_data.append(value.text)
        data_frame = pd.DataFrame(all_data)
        data_frame.columns = ['Table']

        df_splite = data_frame.Table.str.extract('(\d\d)(\D{6})(\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
        df_splite.columns = ['Day', 'Month', 'Year','blank1', 'Time', 'blank2', 'Claim']
        df_s = df_splite.drop(columns=['blank1', 'blank2'])

        d = df_s['Day'].values
        m = df_s['Month'].values
        t = df_s['Time'].values
        y = df_s['Year'].values
        c = df_s['Claim'].values

        d_list = list(df_s['Day'].values)
        m_list = list(df_s['Month'].values)
        t_list = list(df_s['Time'].values)
        y_list = list(df_s['Year'].values)
        c_list = list(df_s['Claim'].values)

In [13]:
day = '18'
month = '/ก.ย./'
year = '2564'

In [14]:
df_s

   Day   Month  Year   Time         Claim
0   18  /ต.ค./  2564  20:08  S68421101687
1   18  /ต.ค./  2564  20:05  S68421102159
2   18  /ต.ค./  2564  20:04  S68421101085
3   18  /ต.ค./  2564  19:58  S68421102010
4   18  /ต.ค./  2564  19:52  S68421101965
5   18  /ต.ค./  2564  19:41  S68421101939
6   18  /ต.ค./  2564  19:34  S68421102391
7   18  /ต.ค./  2564  19:29  S68421102247
8   18  /ต.ค./  2564  19:23  S68421101134
9   18  /ต.ค./  2564  19:22  S68421102243
10  18  /ต.ค./  2564  19:19  S68421102242
11  18  /ต.ค./  2564  19:17  S68421100812
12  18  /ต.ค./  2564  19:14  S68421102241
13  18  /ต.ค./  2564  19:08  S68421102227
14  18  /ต.ค./  2564  19:04  S68421102221

In [15]:
for count , value in enumerate(d_list):
    if value == '18':
        print(count,value)
        print('hello')

0 18
hello
1 18
hello
2 18
hello
3 18
hello
4 18
hello
5 18
hello
6 18
hello
7 18
hello
8 18
hello
9 18
hello
10 18
hello
11 18
hello
12 18
hello
13 18
hello
14 18
hello