In [11]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pyautogui
import time
import os
import shutil
from selenium.webdriver.chrome.options import Options
import pandas as pd
import numpy as np

In [12]:
driver = webdriver.Chrome(executable_path=r'C:\Users\Desktop\Desktop\ProJect1\chromedriver.exe')

In [13]:
driver.get('https://eclaim3.emcsthai.com/esurvey/frmLogin.aspx')
driver.maximize_window()
dcwh = driver.current_window_handle
driver.find_element_by_id('txtUserName').send_keys('noppadol@se.co.th')
driver.find_element_by_id('txtPassWord').send_keys('Somboonkul1501*')
driver.find_element_by_id('imbLogin').click()
driver.find_element_by_id('btnEnter').click()

In [14]:
allhandle_windows = driver.window_handles
for handle in allhandle_windows:
    if handle != dcwh:
        driver.switch_to_window(dcwh)

C:\Users\Desktop\AppData\Local\Temp/ipykernel_1476/3003755061.py:4: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(dcwh)

In [15]:
time.sleep(2)
driver.find_element_by_id('dgvInbox_ctl03_sname').click()

In [54]:
all_data = []
all_data = driver.find_elements_by_xpath('//*[@id="dgvList"]/tbody/tr')

In [85]:
data = []
for count, value in enumerate(all_data):
    data.append(value.text)
    data_frame = pd.DataFrame(data)
    data_frame.columns = ['Table']

    df_splite = data_frame.Table.str.extract('(\d\d\D{6}\d{4})(\s)(\d\d\W\d\d)(\s)(\D\d{11})')
    df_splite.columns = ['Dmy','blank1', 'Time', 'blank2', 'Claim']
    df_s = df_splite.drop(columns=['blank1', 'blank2'])[1:16]
    

    d = df_s['Dmy'].values
    t = df_s['Time'].values
    c = df_s['Claim'].values

    d_list = list(df_s['Dmy'].values)
    t_list = list(df_s['Time'].values)
    c_list = list(df_s['Claim'].values)

In [86]:
df_s

             Dmy   Time         Claim
1   08/พ.ย./2564  06:56  S68421103837
2   08/พ.ย./2564  06:51  S68421103825
3   08/พ.ย./2564  00:07  S68421100647
4   08/พ.ย./2564  00:02  S68421100587
5   07/พ.ย./2564  23:58  S68421100554
6   07/พ.ย./2564  23:56  S68421100511
7   07/พ.ย./2564  23:51  S68421100509
8   07/พ.ย./2564  23:45  S68421100429
9   07/พ.ย./2564  23:31  S68421093040
10  07/พ.ย./2564  23:26  S68421093032
11  07/พ.ย./2564  23:24  S68421093029
12  07/พ.ย./2564  23:21  S68421093016
13  07/พ.ย./2564  23:13  S68421093015
14  07/พ.ย./2564  23:08  S68421093012
15  07/พ.ย./2564  22:48  S68421092985

In [87]:
d = '07'
m = '/พ.ย./'
y = '2564'

ddmmyy = d+m+y

ddmmyy

'07/พ.ย./2564'

In [88]:
df_s[df_s.Dmy.str.contains(ddmmyy)]  #ค้นหา

             Dmy   Time         Claim
5   07/พ.ย./2564  23:58  S68421100554
6   07/พ.ย./2564  23:56  S68421100511
7   07/พ.ย./2564  23:51  S68421100509
8   07/พ.ย./2564  23:45  S68421100429
9   07/พ.ย./2564  23:31  S68421093040
10  07/พ.ย./2564  23:26  S68421093032
11  07/พ.ย./2564  23:24  S68421093029
12  07/พ.ย./2564  23:21  S68421093016
13  07/พ.ย./2564  23:13  S68421093015
14  07/พ.ย./2564  23:08  S68421093012
15  07/พ.ย./2564  22:48  S68421092985

df_s['Check'] = df_s.Dmy.str.match(ddmmyy)

In [90]:
cc = df_s.Dmy == ddmmyy

checks = cc.any()
checks

True

In [91]:
if checks == True:
    for count , value in enumerate(cc):
        if value == True:
            #print('Go to  create Report,Picture,Invoice')
            print(df_s[df_s.Dmy.str.contains(ddmmyy)])
            break
        else: pass

             Dmy   Time         Claim
5   07/พ.ย./2564  23:58  S68421100554
6   07/พ.ย./2564  23:56  S68421100511
7   07/พ.ย./2564  23:51  S68421100509
8   07/พ.ย./2564  23:45  S68421100429
9   07/พ.ย./2564  23:31  S68421093040
10  07/พ.ย./2564  23:26  S68421093032
11  07/พ.ย./2564  23:24  S68421093029
12  07/พ.ย./2564  23:21  S68421093016
13  07/พ.ย./2564  23:13  S68421093015
14  07/พ.ย./2564  23:08  S68421093012
15  07/พ.ย./2564  22:48  S68421092985

In [92]:
check = df_s.Dmy.str.match(ddmmyy).any()

In [93]:
check

True

In [105]:
import pandas as pd
items = [10,20,30,40,50,60,70,80,90]
cols = ['A']

df = pd.DataFrame(items,columns=cols)

In [106]:
df

    A
0  10
1  20
2  30
3  40
4  50
5  60
6  70
7  80
8  90

In [107]:
bl = df.A<=40 # .A คือ column

In [108]:
for idx , values in df.iterrows():
    if bl.loc[idx]==True:
        pass
        #print('idx '+str(idx)+' มีค่า = True')
    else: print('idx '+str(idx)+' มีค่า = False')

idx 4 มีค่า = False
idx 5 มีค่า = False
idx 6 มีค่า = False
idx 7 มีค่า = False
idx 8 มีค่า = False